language: python
cache: pip

matrix:
  include:
  - python: "2.7"
  - python: "3.4"
  - python: "3.5"
  - python: "2.7"
  - python: pypy
  - env: TOX_ENV=pep8
  - env: TOX_ENV=pylint
  - env: TOX_ENV=coverage

# commands to install dependencies
install:
  - pip install -U tox-travis

# commands to run
script:
  - tox

after_success:
  - if [ "-x$TOX_ENV" = "xcoverage" ]; then coveralls; fi
